name: Bump Version and Create PR

on:
  workflow_dispatch:
    inputs:
      versionIncrement:
        type: choice
        description: Version Increment
        options:
          - patch
          - minor
          - major
jobs:
  bump-version:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: create pull request
        run: gh pr create -B master -H dev --title 'Merge dev into mater' --body 'Created by Github action'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}        

      # The  "Bump version" step updates Git so we need to setup the Git config first
      - name: Setup Git
        run: |
          git config --local user.email "dev+${{ github.actor }}@irwinsolutions.com"
          git config --local user.name "${{ github.actor }}"

      - name: Bump version
        run: npm version ${{ github.event.inputs.versionIncrement }}

      - name: Commit changes
        run: |
          git push
